@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.footer{
    grid-area: footer;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerText {
    text-align: left;
    font-size: 9px;
    margin-left: 2rem;
    align-items: center;
    font-family: arial;
    margin-top: 2rem;
}

.footer h2 {
    margin: 0;
    padding: 0;
    font-family: 'Ephesis', cursive;
    font-size: 4rem;
    color: rgb(37,100,234);
}

.icons {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    margin-right: 5rem;
    background-color: rgba(36,99,235,1);
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0rem 0rem 1rem var(--primary-dark);
    margin-bottom: 2rem;


    

}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .footer h2 {
        font-size: 3rem;
    }

    .icons {
        justify-content: center;
        left: 50%;
        transform: translateX(30%);
    }
}
.icons button {
    background-color: transparent;
    border: none;
    margin-left: 0.5rem;
    margin-right:0.5rem;
}

.icons a svg {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    color: rgb(0,0,0);
  

}

@media (max-width: 1200px) {
  .icons a svg {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5em;
  }
}

@media (max-width: 768px) {
  .icons a svg {
    font-size: 2rem;
    width: 2rem;
    height: 2em;
  }
}


/*.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #333;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerText {
    margin: 0;
}

.footer h1{
    font-size: 1.5rem;
    margin: 0;
}

.footerContent p {
    margin: 0;
    font-size: 0.9rem;
}

.icons {
    font-size: 1.5rem;
    color: #333;
    margin-left: 0.5rem;
}*/