.main {
    grid-area: main;
    background: linear-gradient(
        to bottom,
        rgba(15,21,33,255) 0%,
        rgba(10,20,117,255) 100%
    );
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    align-items: center;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));    
    }
}

.card {
    background-color: rgba(36,99,235,255);
    border-radius: 1rem;
    color: black;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    text-align: center;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 300px; 
    max-width: 350px;
    flex: 1 1 300px;
}

.card img {
    width: 200px;
    height:  200px;
    border-radius: 1rem;
    margin: 1rem auto;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);

}

.card h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
    font-weight: bold;
    color: white;
}

.card p {
    font-size: 1.25rem;
    color: white;
    text-align: left;
    margin: 0.5rem 0;
}

@media (max-width: 1000px) {
    .card {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .card {
        min-width: 90%;
    }
}


/*.grid {
    padding: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);
}

.card {
    height: auto;
    background-color: var(--primary-light);
    color: var(--primary-contrast-light);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    text-align: center;
}

.main {
    grid-area: main;
    background-color: lightblue;
}*/