.productCard {
  border: 0.25rem solid var(--gray-400); 
  border-radius: 5rem;
  padding: 2rem;
  text-align: center;
  
  background-color: var(--gray-100); 
  transition: background-color 0.3s;
}

.productImage {
  width: 100%;
  max-width: 30rem;
  border-radius: 0.5rem;
}

.productTitle {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
  color: var(--text); 
}

.productDescription {
  font-size: 2rem;
  color: var(--gray-700); 
}

.productPrice {
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0;
  color: var(--primary); 
}

.productButton {
  background-color: var(--gray-300);
  color: var(--text);
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2rem;
  transition: background-color 0.3s;
}

.productButton:hover {
  background-color: var(--primary);
  color: var(--primary-contrast);
}









/*.productCard {
  border: 0.25rem solid grey;
  border-radius: 5rem;
  padding: 2rem;
  text-align: center;
  background-color: rgb(219, 159, 159);
}

.productImage {
  width: 100%;
  max-width: 30rem;
  border-radius: 0.5rem;
}

.productTitle {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
  color: black;
}

.productDescription {
  font-size: 2rem;
  color: black;
}

.productPrice {
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0;
  color: black;
}

.productButton {
  color: black;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.productButton:hover {
  background-color: rgb(149, 149, 170);
}*/